# 판다스 설치 및 활용

In [1]:
import pandas as pd

#### 1. Pandas의 Dataframe을 생성합니다.

In [2]:
names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]
custom = [1, 5, 25, 13, 23232]

BabyDataSet = list(zip(names,births))    # 데이터 셋 작성 
df = pd.DataFrame(data = BabyDataSet, columns=['Names', 'Births'])
df.head()    # 데이터프레임의 상단 부분을 출력합니다.

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

#### 2. 데이터프레임의 기본 정보를 출력합니다.

In [3]:
# 데이터프레임의 열 타입 정보를 출력합니다.
print(df.dtypes)
print("-----------")

# 데이터프레임의 형태 정보입니다.
print(df.index)
print("-----------")

# 데이터프레임의 열 정보입니다.
print(df.columns)

Names     object
Births     int64
dtype: object
-----------
RangeIndex(start=0, stop=5, step=1)
-----------
Index(['Names', 'Births'], dtype='object')

#### 3. 데이터프레임의 하나의 열을 선택합니다.

In [4]:
df['Names']

0        Bob
1    Jessica
2       Mary
3       John
4        Mel
Name: Names, dtype: object

#### 4. 데이터프레임의 (0~3 번째) 인덱스를 선택합니다.

In [5]:
df[0:3]

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77

#### 5. 조건 선택
- Births 열이 100보다 큰 데이터를 선택합니다.

In [6]:
df[df['Births'] > 100]

     Names  Births
0      Bob     968
1  Jessica     155
3     John     578
4      Mel     973