# 데이터 전처리

In [1]:
import pandas as pd

In [2]:
bank_data = pd.read_csv('data/bank.csv', sep=';')
bank_data.head()  # 내용 확인

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [3]:
bank_data.shape  # 형상 확인

(4521, 17)

In [4]:
feats = bank_data.drop('y', axis=1)  # 열 제거 
target = bank_data['y']
target.head()

0    no
1    no
2    no
3    no
4    no
Name: y, dtype: object

In [5]:
print(f'There are {bank_data.shape[0]} rows and {bank_data.shape[1]} columns')
print(f'Target table has {target.shape[0]} rows')

There are 4521 rows and 17 columns
Target table has 4521 rows

In [6]:
feats.to_csv('data/bank_data_feats.csv')
target.to_csv('data/bank_data_target.csv', header='y')  # 행 제목 설정